:root{
    --cloud-color: #F4F4FD;
    --cornflower-color: #E7E9FC;
    --iris-color: #4D5AE5;
    --navyblue-color: #2E2F42;
    --white: #FFFFFF;
    --slate-color: #434455;
    --ocean-color: #404BBF;
    --black: #000;
}
body{
    font-family: Roboto, sans-serif;
    background-color: var(--white);
    color: var(--slate-color);
}
footer>a{
    color: var(--cloud-color);
    font-family: Raleway sans-serif;;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.166666667;
    letter-spacing: 0.54px;
    text-transform: uppercase;

}
footer>span{
    
    font-family: Raleway sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.166666667;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
footer{
    background-color: var(--navyblue-color);
    color: var(--white); 
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px
}
nav>.logo{
    font-family: Raleway sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.16667;
    letter-spacing: 0.54px;
    text-transform: uppercase;

}
nav>li>a{
    color: var(--navyblue-color);
}
.contact>a{
    color: var(--slate-color);
}
a{
    text-decoration: none;
    color: var(--navyblue-color);
}
a:hover{
   color: var(--ocean-color);

}
span{
    color: var(--iris-color);
}
.buttons{
    text-align: center;
    
}
.buttons>button{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.64px;
    }
button{
    border-radius: 4px;
    border: 1px solid  var(--cornflower-color);
    background:  var(--cloud-color);
    color: var(--iris-color);
    font-family: Roboto;
    cursor: pointer;
    
}
button:hover, button:focus{
    background-color: var(--iris-color);
    color: var(--white);
    font-family: Roboto;
}

ul{
    list-style-type: none;
    
}
li{
    display: inline;
    color: var(--slate-color);
    
}
.photos{
    border: 1px solid var(--cornflower-color);
    width: 360px;
    height: 420px;
}
.team{
    background-color: var(--cloud-color);
}
.order{
    background-color: var(--navyblue-color);
    text-align: center;
    color: var(--white);
}
.order>h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07142857;
    letter-spacing: 1.12px;
}
.order>button{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    color: var(--white);
    background: var(--iris-color);
    border-radius: 4px;
    border: 0;
    font-family: Roboto;
}
.order>button:hover, .order>button:focus{

    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    color: var(--white);
    background: var(--ocean-color);
    border-radius: 4px;
    font-family: Roboto;
}
dt{
    font-weight: bold;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.4px;
    color: var(--navyblue-color);
}
dd{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: var(--slate-color);
}

figcaption{
    color:  var(--slate-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    width: 232px;
}
figcaption>p{
    color:  var(--navyblue-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}